<%= link_to "Home", home_path %>
<%= link_to "+Add challenge", new_challenge_path %>

<%= form_tag challenges_path, method: :get do %>
  <%= search_field_tag :q, params[:q], placeholder: "Search a challenge" %>
<% end %>

<h2>Challenge list</h2>

<table>
  <tr>
    <th>Challenge name</th>
    <th>Date of creation</th>
  </tr>

  <% @challenges.each do |ch| %>
    <tr>
      <td><%= link_to ch.name, challenge_path(ch) %></td>
      <td><%= ch.created_at %></td>
    </tr>
  <% end %>

</table>
